@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.custom-overlay-style{
    background-color: rgba(0, 0, 0, 0.8);
    max-height: 240px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 2px;
    font-size: 90%
}


.gallery-image{
    display: inline-block;
}

@media screen and (max-width: 768px){
    .tile > img{
        width: 100%
    }
}

@media screen and (min-width: 992px){
    .tile > img{
        width: 50%
    }
}
/* 
@media screen and (min-width: 1200px){
    .tile > img{
        width: 25%
    }
} */

@media screen and (min-width: 1140px){
    .tile{
        width: 285px
    }
}
