.customized-navbar {
    background-image: linear-gradient(to bottom,#ffffff 0,rgb(204, 204, 204) 100%);
    margin-bottom: 0;
    border: 0;
    height: 60px;
}

.navbar-inverse .navbar-nav>li>a{
    color: #000;
    margin: 2px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #1976D2;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover{
    color: #FFF;
    background-color: #1976D2;
    background-image: none;
    margin: 5px;
}
