.customized-navbar {
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    margin-bottom: 0;
    border: 0;
    height: 114px;
}

.navbar-brand{
    padding: 2px;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus{
    color: #000;
    margin: 2px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #1976D2;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover{
    color: #FFF;
    background-color: #1976D2;
    background-image: none;
    margin: 5px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    position: relative;
    top: 30px;
}